*~

*.agdai

*.cut
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.ptb
*.fdb_latexmk
*.fls
*.nav
*.snm
*.toc
*.vrb

*.yaml.lock
.stack-work

.diagrams_cache
diagrams/

fenwick.tex

*.hi
*.o
*.class

TAGS

_minted-*